* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

.invert {
    filter: invert(1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 35px;
}

.logo {
    width: 30px;
    cursor: pointer;
}

.home-btn {
    background: #1f1f1f;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    width: 40px;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: -150px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #1f1f1f;
    padding: 10px 14px;
    border-radius: 50px;
    width: 420px;
    height: 50px;
    gap: 10px;
}

.search-box img {
    height: 30px;
    cursor: pointer;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
    width: 50px;
}

.right {
    display: flex;
    align-items: center;
    gap: 14px;

}

.text-btn {
    background: none;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
}

.text-btn:hover {
    color: white;
}

.install-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: black;
    border: none;
    color: #b3b3b3;
    font-weight: bolder;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.install-btn:hover {
    color: white;
}

.install-btn img {
    height: 15px;
}

.signup-btn {
    background: none;
    border: none;
    color: #b3b3b3;
    font-weight: bolder;
    cursor: pointer;
}

.signup-btn:hover {
    color: white;
}

.login-btn {
    background: white;
    color: black;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    display: flex;
    gap: 10px;
}

.left_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    /* height: 100vh; */
    background-color: #121212;
    border-radius: 15px;
    padding: 16px;
    margin: 2px 0px 2px 8px;
    overflow: hidden;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.library h4 {
    color: white;
    font-size: 16px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 16px;
}

.links a {
    color: #b3b3b3;
    font-size: 12px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.lan-select {
    display: flex;
    align-items: center;
    gap: 6px;

    background: transparent;
    border: 1px solid #555;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    width: fit-content;
    cursor: pointer;
}

.lan-select img {
    height: 30px;
}

.right_box {
    width: 70vw;
    /* height: 100vh; */
    background-color: #121212;
    border-radius: 15px;
    padding: 16px;
    margin: 2px 8px 2px 0px;
    position: relative;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.trendingSongs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}

.card {
    position: relative;
    width: 143px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(41, 40, 40);
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;

}

.spotifyPlay {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 84px;
    right: 12px;
    opacity: 0;
    cursor: pointer;
    transition: transform .2s ease-out, opacity .2s ease-out;
}

.card:hover .spotifyPlay {
    opacity: 1;
    transform: scale(1.08);

}

.playbar {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 66%;
    border-radius: 15px;
    background: #ba9f9f;
}

.playbarIcons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.playbarIcons img {
    color: black;
    height: 40px;
}

.songList {
    margin-top: 10px;
    flex: 1;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 8px 0;
    border: 2px solid white;
    margin: 12px 0;
    padding: 10px;
    border-radius: 7px;
}

.songList li img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.songList li .info {
    flex: 1;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.playnow img {
    margin-right: 5px;
}